html {
  font-size: 62.5%;
}

body {
  font-family: ' Inter ', sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
}

h1{
  font-size: 30px;
  color: #c30052;
}

h2{
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: auto;
}

p {
  font-size: 1.3rem;
  color: lightgray;
}

h3 {
  font-size: 1.5rem;
  color: #fff;
}

.container {
  display: grid;
  min-height: 90vh;
  place-content: center;
}

.card {
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
  min-width: 25rem;
  padding: 20px;
  margin: 20px; 
}

.card-horizontal {
  max-width: 32rem;
}

.card-flame {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.card-ice {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.card-wind {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.box {
  width: 100%;
  min-height: 20rem;
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
}

.box-flame {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.box-ice {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.box-wind {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
hr {
  border: 1px solid rgba(51, 51, 51, 0.062);
}

button {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.444);
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 8px 16px;
  color: #fff;
}

.button-flame {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.button-ice {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.button-wind {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90vw;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90vw;
  }
}
